@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');


*,
*::before,
*::after{
  box-sizing: border-box;
}
#root {
  height: 100%; 
}



body {
  background-color: #1e212d;
  color: #eabf9f;
  height: 100vh;
  font-family: 'Inconsolata', monospace;
}

.App{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

h1{
  font-size: 4em;
}
.header{
  min-height: 2em;
}

.pomodoro{
  font-size: 6em;
}


.message {
  font-size: 0.5em;
  min-height: 1.3em;
  margin-bottom: 0.5em;
}

.timer {
  text-align: center;
}